body {
  text-align: center;
  /* background: grey;
  color: purple; */
  margin: 0 auto;
  /* padding: 0;
  height: 100%; */
  font-family: fantasy;
  color: blue;
}

header {
  background: url("./assets/nyc.jpg");
  background-size: cover;
  color: white;
  background-position: center;
  height: 400px;
}

img {
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 50%;
}

h2 {
  margin: 0px 0px 10px 0px;
}

p {
  opacity: 0;
}

.firstclass {
  background: url("./assets/IMG-0304.JPG");
  /* background: green; */
  background-size: cover;
  background-position: center;
  height: 300px;
}

.intro {
  /* width: 50%; */
}

.parent {
  background: url("./assets/backgroundyellow.jpeg");
  /* background: orange; */
  background-size: cover;
  background-position: center;
  height: 400px;
}

.first {
  padding: 50 0 10 0;
  /* background: blue; */
}

.second {
  padding: 10 0 10 0;
  /* background: blue; */
}

.third {
  padding: 10 0 10 0;
  /* background: blue; */
}

.show-description p {
  opacity: 1;
}
