body {
  text-align: center;
  background: grey;
  color: purple;
}

img {
  height: 200px;
}

h1 {
  /* font-size: 300;
  margin: 30; */
}

.firstclass {
  background: url("./assets/beach.webp");
  background-size: cover;
  background-position: center;
}

.secondclass {
  background: url("./assets/backgroundyellow.jpeg");
  background-size: cover;
  background-position: center;
}
